:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* gantt .bar-label == texto interior da barra do gráfico */
.gantt .bar-label {
  fill: black !important;
  font-weight: bold;
}

/* .gantt {
  pointer-events: none !important;
} */

.gantt .arrow {
  stroke: black !important;
  stroke-width: 2.8px !important;
}

.details-container {
  width: max-content;
  padding: 0 10px;
}

.timeScale {
  max-width: 120rem;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #fff;
  border-radius: 1rem;
  box-shadow: 0 0 4px #fff;
  padding: 2rem 0;
}

.timeScale h3 {
  text-align: center;
}

.timeScale-title {
  max-width: 120rem;
  margin: 0 auto;
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #fff;
}

.timeScale button {
  margin: 0 5px;
}

/* Classes de status */
.a-iniciar .bar {
  fill: rgb(232, 105, 125) !important;
  box-shadow: 0 0 100px 10px red;
}

.pendente .bar {
  fill: rgb(253, 188, 100) !important;
}
.pendente .bar-progress {
  fill: gold !important;
}
.em-andamento .bar {
  fill: rgb(51, 158, 205) !important;
}
.em-andamento .bar-progress {
  fill: lightblue !important;
}

.finalizada .bar-progress {
  fill: rgb(51, 211, 145) !important;
}
